@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+VA+Guides&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212832;
}

ul,
li {
  list-style-type: none;
}

.dis-fl {
  display: flex;
}

.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-normal {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.border {
  border: 1px #212832 solid;
  border-radius: 4px;
}

.header {
  width: 80%;
  margin: 30px auto 0 auto;
}

.logo {
  width: 20%;
}

.logo img {
  vertical-align: bottom;
}

.nav-menu-container {
  margin-left: auto;
  margin-top: 8px;
  width: 80%;
  justify-content: space-between;
}

.nav-menu {
  width: 55%;
}

.left-nav-container {
  width: 30%;
}

.nav-menu-list,
.nav-login-list {
  justify-content: space-between;
}

.nav-menu-item,
.nav-login-item {
  padding: 5px 10px;
  align-content: center;
}

/* Content */
body {
  background-image: url("../images/decore.png");
  background-position: top right;
  background-repeat: no-repeat;
}

/* Landing */
.landing-container {
  margin: 30px auto 0 auto;
  width: 80%;
}

.text-container {
  width: 50%;
  padding-top: 100px;
}

.text-1 {
  color: #df6951;
  font-size: 22px;
  width: 80%;
}

.text-2 {
  font-size: 80px;
  color: #181e4b;
  margin-top: 10px;
  width: 80%;
}

.text-3 {
  font-size: 18px;
  color: #5e6282;
  margin-top: 10px;
  width: 80%;
}

.text-bottom-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.find-out-more {
  background-color: #f1a501;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  margin-right: 50px;
}

.play-demo {
  margin-left: 10px;
  color: #5e6282;
}

.landing-container {
  position: relative;
  height: auto;
  margin-bottom: 150px;
}

.text-container {
  width: 60%;
}

.image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: max-content;
}

.travel-image {
  max-width: 100%;
}

/* service */
.service-container {
  width: 80%;
  margin: 20px auto 0 auto;
  background-image: url("../images/services-bg.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.service-heading-container > div,
.destination-heading-container > div {
  text-align: center;
}

/* headings */
.service-heading-1,
.destination-heading-1,
.waystobook-heading-1,
.testimonials-heading-1 {
  color: #5e6282;
  margin-bottom: 10px;
}

.service-heading-2,
.destination-heading-2,
.waystobook-heading-2,
.testimonials-heading-2 {
  color: #14183e;
  font-size: 35px;
}

.service-body-container {
  width: 80%;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.service-body-container > div {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-body-container > div > div {
  padding: 10px;
  text-align: center;
}

.service-1-heading,
.service-2-heading,
.service-3-heading,
.service-4-heading {
  color: #1e1d4c;
}
.service-1-content,
.service-2-content,
.service-3-content {
  margin: 0 20px;
  color: #5e6282;
  font-size: small;
}

.service-4-content {
  color: #5e6282;
  font-size: small;
}

.service-body-container > div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  transform: scale(1.05);
}

/* Destination */
.destination-container {
  width: 80%;
  margin: 50px auto 0 auto;
}

.destination-body-container {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: space-evenly;
}

.destination-body-container > div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.destination-body-container > div:hover {
  transition: background-color 0.3s ease;
  transform: scale(1.05);
}

.destination-1-image,
.destination-2-image,
.destination-3-image {
  position: relative;
}

.destination-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 1);
  color: #5e6282;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
}

.destination-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}

.destination-footer {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.destination-footer img {
  margin-right: 10px;
}

/* Steps to book */
.waystobook-container {
  width: 80%;
  margin: 100px auto 0 auto;
}


.waystobook-body {
 width: 400px;
}

.waystobook-heading {
  position: relative;
}

.waystobook-image {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  box-shadow: 0 -8px 100px rgba(89, 177, 230, 0.5);
}

.content-1,
.content-2,
.content-3 {
  display: flex;
}

.waystobook-content {
  margin-top: 20px;
}

.waystobook-content > div {
  margin-bottom: 20px;
}

.waystobook-content > div > div img {
  margin-right: 20px;
}

.content-1-text-heading,
.content-2-text-heading,
.content-3-text-heading {
  color: #5e6282;
  font-size: medium;
}

.content-1-text-body,
.content-2-text-body,
.content-3-text-body {
  color: #5e6282;
  font-weight: 350;
  font-size: 14px;
}

.testimonials-container {
  width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.testimonials-heading-container {
  display: flex;
  flex-direction: column;
}

.dots {
  margin-top: 50px;
}

