@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+VA+Guides&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212832;
}

ul,
li {
  list-style-type: none;
}

.dis-fl {
  display: flex;
}

.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.border {
  border: 1px #212832 solid;
  border-radius: 4px;
}

body{
  background: url(../images/decore.png) no-repeat;
}

.header{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.logo {
  width: 20%;
}

.logo img {
  vertical-align: bottom;
}

.nav-menu-container {
  margin-left: auto;
  margin-top: 8px;
  width: 80%;
  justify-content: space-between;
}

.nav-menu {
  width: 55%;
}

.left-nav-container {
  width: 30%;   
}

.nav-menu-list,
.nav-login-list {
  justify-content: space-between;
}

.nav-menu-item,
.nav-login-item {
  padding: 5px 10px;
  align-content: center;
}
